/* ==================================== ícones na navegação de arquivos ========================================== */

.nav-folder .nav-folder-title-content:before {
    content: "\1F4C2";
    /* opened folder character  */
    padding-right: 8px;
}

.nav-folder.is-collapsed .nav-folder-title-content:before {
    content: "\1F4C1";
    /* closed folder character  */
    padding-right: 8px;
}

.nav-file-title-content:before {
    content: "\1F4C3";
    padding-right: 8px;
}